.customCalloutStyle div, .customCalloutStyle td
{
    border: solid 1px Black;
    background-color: #07888E;
    color: White;
}

/***************************RadToolTip*****************************/
.rtWrapperContent
{
    padding: 5px 5px 0px 0px !important;
}

.rtWrapperContent ul
{
    padding-left: 0px;
    margin-left: 2px;
    padding-bottom: 0px;
    margin-bottom: 3px;
    margin-top: 0px;
}

/******************************************************************/
.highlight
{
    background-color: #FFFFFF;
    color: Red;
}

.errorMessage
{
    background-color: #FFD312;
    color: black;
    padding: 3px;
    font-weight: bold;
}

.RadForm .rfdSkinnedButton .rfdDecorated
{
    font-weight: bold !important;
}

.imgbtn
{
    cursor: pointer;
    outline: none;
}

/**********ListView*********************/
.SearchTable
{
    border-collapse: collapse;
    border: 1px solid #839E99;
    background: white;
    color: #000;
    font: 12px "Segoe UI" , Arial, Verdana;
    text-align: left;
}

.SearchTable tbody td, th
{
    padding: 3px 3px .75em 3px;
    line-height: 1.3em;
}

.SearchTable th
{
    color: #000;
    font-weight: bold;
    text-align: left;
    padding-right: .5em;
    vertical-align: middle;
}

.SearchTable thead th
{
    background: #D2D2D2;
    text-align: center;
    color: #000;
}

.SearchTable .odd
{
    background: #F1F1F1;
}

.SearchTable th + td
{
    padding-left: .5em;
    background: #FFFFFD;
}

.SearchTable tbody tr:hover td
{
    background: #E0DAFD;
    color: #333333;
}
