.marginB20
{
    margin-bottom: 20px;
}
body
{
    /* background: #4F4F4F;     font-size: .80em;     font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;     margin: 0px;     padding: 0px;     color: #696969;*/
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    font-size: .90em;
    background-color: #E1E5E8;
}

/*
.page
{
	background: white;
	box-shadow: 0px 0px 5px #666;
	text-align: justify;
	text-justify: newspaper;
	margin: 0 auto 0 auto;
	width: 1000px;
	behavior: url(http://localhost:3630/GSA.OCFO.VCSS.UI/Styles/PIE.htc);
}
*/
.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-image: url('../Images/Head.jpg');
    background-repeat: repeat-x;
    height: 70px;
}

fieldset
{
    padding: 15px;
}

.main
{
    padding: 20px;
    min-height: 350px;
    width: 960px;
}

.main ul
{
    text-align: left;
    list-style-type: square;
}

.logo
{
    padding: 5px 0px 5px 10px;
}

/********************************NOTICE AREAS***********************************/
.notice
{
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid black;
    background: #DDEDFF;
    font-family: Arial;
    font-size: 12px;
}

.notice ul
{
    padding: 5px 0px 0px 20px;
    margin: 0px;
}

.notice ul li
{
    padding-bottom: 5px;
}
.notice .divnote
{
    display: none;
    padding-top: 5px;
    background: #F8F8F8;
    padding: 5px;
    margin: 5px 10px 5px 0px;
}

.notice a.details
{
    font-size: 0.9em;
    font-weight: bold;
}

#warning
{
    margin-bottom: 10px;
    padding: 3px;
    border: 1px solid black;
    background: #FEFEB1;
    font-size: 0.9em;
    font-weight: bold;
    color: #2C2C2C;
}

/********************************HOME BUTTONS AREA************************************/
.container
{
    background-color: #D2D2D2;
    padding: 10px;
    margin-bottom: 10px;
}

.button
{
    text-align: center;
    padding: 20px 10px 15px 10px;
    background-color: #F8F8F8;
    border: 1px solid #999;
    height: 135px;
}

.button:hover
{
    border: 1px solid #fff;
}

#login
{
    float: left;
    margin-right: 4px;
    width: 30%;
}

#support
{
    float: right;
    margin-left: 4px;
    width: 31%;
}

#acttype
{
    display: inline-block;
    width: 31.1%;
}

#acttype ul
{
    text-align: left;
    font-style: italic;
    list-style-type: square;
}

span#tip
{
    font-style: italic;
    font-size: .85em;
    text-align: center;
    display: block;
    margin-top: -10px;
}

/********************************CART ITEMS************************************/
.cartItem
{
    width: 95%;
    font-size: 0.9em;
}

.cartItem .name
{
    float: left;
    text-align: left;
}

.cartItem .delete
{
    float: right;
    text-align: right;
    width: 1%;
}

.cartItem .content
{
    display: none;
    margin: 3px 0px 3px 3px;
}

.cartItem a.details
{
    font-size: 0.8em;
    font-weight: bold;
}

/********************************PROGRESS BAR************************************/
#progress
{
    border-bottom-style: solid;
    border-color: #808080;
    width: 100%;
    margin-bottom: 20px;
}

#progress td
{
    width: 25%;
    text-align: center;
    font-weight: bold;
}

#progress td.current
{
    color: Black;
}

#progress td.previous
{
    color: Gray;
}

#progress td.previous a
{
    text-decoration: none;
    color: Gray;
}

#progress td.next
{
    color: Silver;
}
/********************************INFOBLOCK************************************/
.infoblock
{
    margin: 0px auto 0px auto; /*border-top: 1px solid #D1D1D1; 	border-left: 1px solid #D1D1D1; 	box-shadow: 2px 2px 2px #666;*/
    box-shadow: 0px 0px 3px 3px #888;
    behavior: url(./Styles/PIE.htc);
    background: #F8F8F8;
    min-height: 265px;
    text-align: left;
}

.infoblock .head
{
    /*background-color: #E4E4E4;*/
    background-color: #D9D9D9;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.infoblock .content
{
    padding: 15px 7px 5px 7px;
    text-align: left;
}

#left.infoblock
{
    float: left;
}

#right.infoblock
{
    float: right;
}

/*******************************MENU*********************************/

.VCSSHeader
{
    float: right;
    margin-top: -5px;
}

.VCSSHeader ul
{
    z-index: 2900;
    list-style-type: none;
}

.VCSSHeader ul li
{
    float: left;
    font-size: .85em;
    padding: 0 5px 5px 5px;
}

.VCSSHeader ul li a:link, .VCSSHeader ul li a:visited
{
    z-index: 2900;
    color: #3a45bf;
    text-decoration: none;
}

.VCSSHeader ul li a:hover
{
    text-decoration: underline;
}

.VCSSHeader ul li + li
{
    height: 10px;
    border-left: solid 1px #3a45ca;
}

div.hideSkiplink
{
    width: 100%;
    display: inline-block;
}

/*********************************MODAL POPUP************************************/
#mask
{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #000;
    display: none;
}

#modalpopup .window
{
    position: absolute;
    margin-top: 200px;
    width: 460px;
    height: 310px;
    display: none;
    z-index: 9999;
    padding: 25px 10px 25px 10px;
    background: white;
}
/***********************************STEP 3****************************************/
.sectionHeader
{
    border-bottom: 1px solid Black;
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
}

.marginB10
{
    margin-bottom: 10px;
}

.captchaArea
{
    border-top: 1px solid Black;
    margin: 5px 0px 5px 0px;
    padding-top: 10px;
}

.seperator
{
    border-top: 1px solid gray;
    padding: 0px 10px 0px 10px;
}

.terms
{
    margin-top: 10px;
    padding: 5px;
    border: 1px solid black;
    background-color: #F1F1F1;
    text-align: left;
}

.terms .title
{
    font-weight: bold;
    text-align: center;
}
/*************************************MISC****************************************/

.page
{
    background: white;
    box-shadow: 0px 0px 5px #666;
    margin: 0 auto 0 auto;
    width: 1000px;
}

.page:before, .page:after
{
    content: "\0020";
    display: block; /*height: 0;     overflow: hidden;*/
}

.page:after
{
    clear: both;
    padding-bottom: 20px;
}

.clear
{
    clear: both;
}
/*
.title
{
	margin: 0em 1.2em;
}*/
.Invalid
{
    background-color: Orange;
}

.Valid
{
    background-color: White;
}

.inlineblock
{
    display: inline-block !important;
}

div.controlsWrapper
{
    margin-bottom: 20px;
}

div.controlsWrapper div.left
{
    float: left;
    width: 98%;
}

div.controlsWrapper div.right
{
    float: right;
    width: 2%;
}

.captcha
{
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

/**************************************AJAX LOADING PANEL*********************************/
.loadingPanel
{
    border-width: 1px;
    border-style: ridge;
    border-color: #BBBBBB;
    background-color: #EEEEEE;
    position: absolute;
    width: 35px;
    height: 35px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}
.loadingPanelMask
{
    background-color: Gray;
    filter: alpha(opacity=20);
    opacity: 0.2;
}
/**************************************AJAX LOADING PANEL*********************************/

/******************************************ACCORDION**************************************/
.accordionHeader
{
    border: none solid #C0C0C0;
    background: #E1E1E1 url('../Images/Plus_Minus.png') no-repeat 3px 2px !important;
    padding: 1px 3px 5px 25px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    height: 20px;
}

.accordionHeaderSelected
{
    border: none solid #C0C0C0;
    background: #E1E1E1 url("../Images/Plus_Minus.png") no-repeat 3px -30px !important;
    padding: 1px 3px 5px 25px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    height: 20px;
}

.accordion h4
{
    background: #E1E1E1;
    min-height: 30px;
    cursor: pointer;
}
/**************************************ACCORDION*********************************/