<content>
  <contacts type="General System/Login ID/Password Issues">
    <section header="For general system/login ID/password issues, please contact:">
      <contact desc="Business Applications Service Desk 1-866-450-6588" IsLink="false" />
      <contact desc="businessapps@gsa.gov" IsLink="true" label="Email: " Link="mailto:businessapps@gsa.gov"  />
    </section>
  </contacts>
  <contacts type="GSA Global Supply">
    <section header="To report a discrepancy or request assistance pertaining to your GSA Global Supply order and/or requisition, please contact: ">
      <contact desc="National Customer Service Center" IsLink="false" />
      <contact desc="Phone: 1-800-488-3111" IsLink="false" />
      <contact desc="ncsccustomer.service@gsa.gov" IsLink="true" label="Email: " Link="mailto:ncsccustomer.service@gsa.gov" />
    </section>
    <section header="For General Billing questions, please contact:">
      <contact desc="U.S. General Services Administration" IsLink="false" />
      <contact desc="Financial and Payroll Services Division (BCE)" IsLink="false" />
      <contact desc="Financial Information Control Branch (BCEA)" IsLink="false" />
      <contact desc="FAS Supply/Fleet General Funds Billings Unit" IsLink="false" />
      <contact desc="1500 E. Bannister Rd. Rm 2042" IsLink="false" />
      <contact desc="Kansas City, MO 64131" IsLink="false" />
      <contact desc="Phone: 1-800-676-3690 opt. # 3" IsLink="false" />
      <contact desc="Fax #: (816) 823-5507" IsLink="false" />
      <contact desc="kc-accts-receivable.finance@gsa.gov" IsLink="true" label="Email: " Link="mailto:kc-accts-receivable.finance@gsa.gov" />
    </section>
  </contacts>
  <contacts type="Outlease">
    <section header="For General Billing questions, please contact:">
      <contact desc="FW-OutleaseDocuments.Finance@gsa.gov" IsLink="true" label="Email: " Link="mailto:FW-OutleaseDocuments.Finance@gsa.gov"  />
    </section>
  </contacts>
  <contacts type="FAS IT and Telecom">
    <section header="For General Billing questions  for the GSA Business Lines listed below, please contact: ">
      <contact desc="kcfasitacctsreceivablefinance@gsa.gov" IsLink="true" label="Email: " Link="mailto:kcfasitacctsreceivablefinance@gsa.gov" />
      <contact desc="AAS – Client Support Center (CSC), FEDSIM, GSS - Integrated Workplace Acquisition Center (IWAC), National IT Commodity Program (NITCP), Network Services - Expanded Services, Managed Service Office (MSO)/USAccess Program Officer" IsLink="false" />
      <contact desc=" Wide Area Network (WAN)/Networx" IsLink="false" />
      <contact desc=" Local Telecom Service and WITS" IsLink="false" />
    </section>
  </contacts>
  <contacts type="Vendors with Invoice and Payment-Related Questions">
    <section header="Vendors with invoice and payment related questions, please contact:">
      <contact desc="U.S. General Services Administration" IsLink="false" />
      <contact desc="Financial and Payroll Services Division (BCE)" IsLink="false" />
      <contact desc="Financial Operations and Disbursement Branch (BCEB)" IsLink="false" />
      <contact desc="1500 Bannister Road" IsLink="false" />
      <contact desc="Room 1011" IsLink="false" />
      <contact desc="Kansas City, MO 64131" IsLink="false" />
      <contact desc="Phone: 1-800-676-3690 opt. # 3" IsLink="false" />
      <contact desc="Fax: 816-926-7800" IsLink="false" />
    </section>
  </contacts>
  <contacts type="Rent">
    <section header="For Rent related questions (Fund 192X - Public Buildings Service), contact:">
      <contact desc="U.S. General Services Administration" IsLink="false" />
      <contact desc="PBS Rent Group (BCFCR-3)" IsLink="false" />
      <contact desc="PO Box 17068" IsLink="false" />
      <contact desc="Fort Worth, TX 76102-0068" IsLink="false" />
      <contact desc="Fax #: (817) 978-8570" IsLink="false" />
      <contact desc="FW-Rent_Finance@gsa.gov" IsLink="true" label="Email: " Link="mailto:FW-Rent_Finance@gsa.gov" />
    </section>
  </contacts>
  <contacts type="Fleet">
    <section header="For questions related to Fleet specific charges and rates please contact your Fleet Service Representative or the GSA Fleet Technical Support Assistance Line at 1-866-472-6711." />
    <section header="For General Billing questions, please contact:" IsLink="false" >
      <contact desc="U.S. General Services Administration" IsLink="false" />
      <contact desc="Financial and Payroll Services Division (BCE)" IsLink="false" />
      <contact desc="Financial Information Control Branch (BCEA)" IsLink="false" />
      <contact desc="FAS Supply/Fleet General Funds Billings Unit" IsLink="false" />
      <contact desc="1500 E. Bannister Rd. Rm 2042" IsLink="false" />
      <contact desc="Kansas City, MO 64131" IsLink="false" />
      <contact desc="Phone: 1-800-676-3690 opt. # 3" IsLink="false" />
      <contact desc="Fax #: (816) 823-5507" IsLink="false" />
      <contact desc="kc-accts-receivable.finance@gsa.gov" IsLink="true" label="Email: " Link="mailto:kc-accts-receivable.finance@gsa.gov" />
    </section>
  </contacts>
  <contacts type="RWA IPAC Billings">
    <section header="For RWA IPAC Billings, contact:">
      <contact desc="Ipacbilling@gsa.gov" IsLink="true" label="Email: " Link="mailto:Ipacbilling@gsa.gov" />
    </section>
  </contacts>
  <contacts type="RWA Non-IPAC Billings">
    <section header="For RWA Non-IPAC Billings, contact:">
      <contact desc="FW-Billing.Finance@gsa.gov" IsLink="true" label="Email: " Link="mailto:FW-Billing.Finance@gsa.gov" />
    </section>
  </contacts>
  <contacts type="Account (BOAC) Code Issues">
    <section header="For Account (BOAC) Code issues, please contact:">
      <contact desc="Business Applications Systems Service Desk" IsLink="false" />
      <contact desc="Phone: 866-450-6588" IsLink="false" />
      <contact desc="businessapps@gsa.gov" IsLink="true" label="Email: " Link="mailto:businessapps@gsa.gov" />
    </section>
  </contacts>
  <contacts type="VCSS Frequently Asked Questions (FAQs)">
    <section header="Click below to navigate to FAQs">
      <contact Link="FAQs.aspx" desc="VCSS FAQs" IsLink="true"/>
    </section>
  </contacts>
</content>