<Content>
  <SECTION Name="ACCOUNT ACCESS" Type="FAQ" ShowCOntact="false">
    <FAQ Question="How do I reset my password?" GroupContact="ocfoservicedesk@gsa.gov" Document="Docs/FAQs/Password Reset Instructions.pdf" Name="Password Reset Instructions (PDF)" IsLink="true"/>
    <FAQ Question="How do I request access to an exsting BOAC/ALC in VCSS?" GroupContact="vcss.security@gsa.gov" Document="Docs/FAQs/Access Request for Existing BOACs for External Users.pdf" Name="Access Request for Existing BOACs for External Users (PDF)" IsLink="true"/>
    <FAQ Question="As a GSA employee how do I request access to VCSS?" GroupContact="ocfoservicedesk@gsa.gov" Document="http://pegasys.gsa.gov/docs/admin/VCSS_USERID_FORM.doc" Name="VCSS User ID Request Form (Word Doc)" IsLink="true"/>
    <FAQ Question ="How do I register my account in VCSS?" GroupContact="ocfoservicedesk@gsa.gov" Name="Click the Registrations &amp; Access Requests button on the homepage of the VCSS website. Click to indicate if you are a customer or vendor, and complete the Registration Request." IsLink="false" />
  </SECTION>
  <SECTION Name="ACCOUNT ADMINISTRATORS" Type="FAQ" ShowCOntact="false">
    <FAQ Question="How do I find my Account Administrator?" GroupContact="vcss.security@gsa.gov" Document="Docs/FAQs/Account Administrator Change Request.docx" Name="Account Administrator Change Request (Word Doc)" IsLink="true"/>
    <FAQ Question="My Account Administrator is no longer working in this organization. How do I change the administrator?" GroupContact="vcss.security@gsa.gov" Document="Docs/FAQs/Account Administrator Change Request.docx" Name="Account Administrator Change Request (Word Doc)" IsLink="true" />
    <FAQ Question="I have not received approval for my access request. Who should I contact?" GroupContact="vcss.security@gsa.gov" IsLink="true" />
  </SECTION>
  <SECTION Name="STATMENTS IN VCSS" Type="FAQ" ShowCOntact="false">
    <FAQ Question ="How do I pull our statements out of VCSS?" GroupContact="ocfoservicedesk@gsa.gov" Document="Docs/FAQs/View and Print Statements.docx" Name="View and Print Statements (Word Doc)" IsLink="true" />
    <FAQ Question ="How do I view a summary of all statements for my account in VCSS?" GroupContact="ocfoservicedesk@gsa.gov" Document="Docs/FAQs/View and Print CVS Details.docx" Name="View and Print CVS Details (Word Doc)" IsLink="true" />
    <FAQ Question ="How do I download the CSV details my Statements?" GroupContact="ocfoservicedesk@gsa.gov" Document="Docs/FAQs/VCSS - CSV Download Instructions.pdf" Name="VCSS - CSV Download Instructions (PDF)" IsLink="true" />
    <FAQ Question ="How do I use VCSS with Internet Explorer 9 or Higher?" GroupContact="ocfoservicedesk@gsa.gov" Document="Docs/FAQs/Access with Internet Explorer 9 or 11.pdf" Name="Accessing VCSS Using Internet Explorer 9 or 11 (PDF)" IsLink="true" />
    <FAQ Question ="How do I update my contact information in VCSS?" GroupContact="ocfoservicedesk@gsa.gov" Document="Docs/FAQs/VCSS User Contact Information Update Request.docx" Name="VCSS User Contact Information Update Request (Word Doc)" IsLink="true" />
    <FAQ Question ="How do I update my Mailing Address that is on my statement?" GroupContact="ocfoservicedesk@gsa.gov" Name="Need to route customer to Fleet Service Representative (FSR)" IsLink="false" />
    <FAQ Question ="Fleet Statement Brochure.  Details the items of the statement for FLEET Users." GroupContact="ocfoservicedesk@gsa.gov" Document="http://gsa.gov/graphics/staffoffices/Fleet_Statement_Brochure_IPAC_2011_09.pdf" Name="About your GSA Fleet IPAC Statement" IsLink="true" />
  </SECTION>
  <SECTION Name="READING MY STATEMENTS/BILLS IN VCSS" Type="FAQ" ShowCOntact="true">
    <FAQ Question="What is my Customer # and Access Code to access the applications on the GSA Drive-Thru website?" GroupContact="gsadrivethruhelp@gsa.gov" />
    <FAQ Question="What do the Sales Codes stand for on my statement?" Document="Help.aspx" Name="VCSS Help" IsLink="true" />
    <FAQ Question="I have questions about details on my fleet bill?" Name="Need to route customer to Fleet Service Representative (FSR)" IsLink="false" />
    <FAQ Question="I have a question regarding my RWA IPAC Bill who do I need to contact? (IPAC Bills Start with &quot;W&quot;)" GroupContact="IPACBilling@gsa.gov" />
    <FAQ Question="I have a question regarding my RWA NON-IPAC Bill who do I need to contact? (NON-IPAC Bills Start with &quot;X&quot;)" GroupContact="FW-Billing.Finance@gsa.gov" />
  </SECTION>
  <SECTION Name="WHO CAN HELP" Type="FAQ" ShowCOntact="true">
    <FAQ Question="I have requested to register my BOAC/ALC, but I have not received an ID for VCSS. Who do I contact for a status update?" GroupContact="vcss.registration@gsa.gov" />
    <FAQ Question="Who can I contact with questions regarding the charges of my bill?" Name="Need to route customer to Fleet Service Representative (FSR)"  IsLink="false" />
    <FAQ Question="Who can I contact if I am unable to input an invoice?" />
    <FAQ Question="Who do I talk to regarding my Short Term Rental (A8 Sales Code)?" GroupContact="gsa_rental@gsa.gov" />
    <FAQ Question="Who do I talk to regarding my Fleet Service Gas card (Citibank Wright Express Fleet Credit Card)?" GroupContact="lpt@gsa.gov" />
    <FAQ Question="How do I find my Fleet Service Representative?" GroupContact="gsadrivethruhelp@gsa.gov" />
    <FAQ Question="Who do I contact regarding the outstanding amounts on my account?" GroupContact="kc-accts-receivable.finance@gsa.gov" />
    <FAQ Question="How do I update the contact information for my BOAC?" GroupContact="arvendorrequest@gsa.gov" Document="Docs/FAQs/Vendor_Code_Request_Form.docx" Name="Vendor Code Request Form (Word Doc)" IsLink="true" />
    <FAQ Question="Send Form above and THIS Sample" Document="Docs/FAQs/Vendor Code Request Form_Add ALC Vendor.docx" Name="Vendor Code Request Form - Add ALC Vendor (Word Doc)" IsLink="true" />
    <FAQ Question="How do I update the contact information for my non-rent ALC?" GroupContact="arvendorrequest@gsa.gov" Document="Docs/FAQs/Vendor_Code_Request_Form.docx" Name="Vendor Code Request Form (Word Doc)" IsLink="true" />
    <FAQ Question="Send Form above and THIS Sample" Document="Docs/FAQs/Vendor Code Request Form_Add ALC Vendor.docx" Name="Vendor Code Request Form - Add ALC Vendor (Word Doc)" IsLink="true" />
    <FAQ Question="How do I update the contact information for my RENT ALC?" GroupContact="arvendorrequest@gsa.gov" Document="Docs/FAQs/Vendor_Code_Request_Form.docx" Name="Vendor Code Request Form (Word Doc)" IsLink="true" />
    <FAQ Question="Send Form above and THIS Sample" Document="Docs/FAQs/Vendor Code Request Form_Add Non-Rent Vendor.docx" Name="Vendor Code Request Form: Add Non-Rent Vendor (Word Doc)" IsLink="true" />
    <FAQ Question="How do I deactivate an inactive Vendor Code?" GroupContact="arvendorrequest@gsa.gov" Document="Docs/FAQs/Vendor_Code_Request_Form.docx" Name="Vendor Code Request Form (Word Doc)" IsLink="true" />
    <FAQ Question="Send Form above and THIS Sample" Document="Docs/FAQs/Vendor Code Request Form - Delete_Inactivate Vendor.docx" Name="Vendor Code Request Form - Delete/Inactivate Vendor (Word Doc)" IsLink="true" />
  </SECTION>
  <SECTION Name="PROBLEMS WITH MY BILL" Type="FAQ" ShowCOntact="true">
    <FAQ Question="Why is my monthly billing statement missing vehicle tag #'s?" GroupContact="kc-accts-receivable.finance@gsa.gov" />
    <FAQ Question="How can I pay my fleet bill?" GroupContact="kc-accts-receivable.finance@gsa.gov" />
    <FAQ Question="I have received a delinquency notice for a statement that I have already paid." Name="First, double check the payment status in VCSS. IF it is still showing outstanding, contact KC-Accts-Reveivable.Finance@gsa.gov" IsLink="false" />
  </SECTION>
  <SECTION Name="VCSS BROCHURES" Type="BROCHURE">
    <BROCHURE Topic="Vendor and Customer Self Service (VCSS) brochure describes the key features of VCSS and the new functionality available with the Phase 2 release" Title="Phase 2 VCSS Brochure (Version 1.1)" Name="About the GSA VCSS Website (PDF)" Document="Docs/FAQs/BAAR_GSA_VCSS_Brochure_Phase_2_Version_2.1.pdf" IsLink="true"/>
    <BROCHURE Topic="Explains the changes in how GSA populates data fields from Treasury’s Intergovernmental Payment and Collection System (IPAC) into customers’ accounting systems." Title="RWA IPAC Data Field Changes Brochure (Version 2.1)" Name="About GSA changes to IPAC data fields for RWA customers (PDF)" Document="http://gsa.gov/portal/getMediaData?mediaId=166687" />
    <BROCHURE Topic="Explains the new standardized format of RWA statements when using Treasury’s Intergovernmental Payment and Collection System (IPAC)." Title="About Your GSA RWA IPAC Statement" Name="About your GSA RWA IPAC Statement (PDF)" Document="http://gsa.gov/portal/getMediaData?mediaId=168263" />
    <BROCHURE Topic="Explains the new standardized format of non-IPAC RWA statements." Title="About Your GSA RWA Statement for non-IPAC Customers (Version 1.1)" Name="About your GSA RWA Statement for non-IPAC customers (PDF)" Document="http://gsa.gov/portal/getMediaData?mediaId=168267" />
  </SECTION>
</Content>