<content>
  <links1>
    <link url="Docs/FAQs/Access with Internet Explorer 9 or 11.pdf" description="Accessing VCSS Using Internet Explorer 9 or 11" target="_blank"/>
    <link url="http://gsa.gov/portal/getMediaData?mediaId=177411" description="About Your GSA Global Supply and AutoChoice IPAC Statement Brochure (Version 2.1)" target="_blank" />
    <link url="http://gsa.gov/portal/getMediaData?mediaId=177407" description="About Your GSA Global Supply and AutoChoice Statement for non-IPAC Customers Brochure (Version 2.1)" target="_blank" />
    <link url="http://gsa.gov/portal/getMediaData?mediaId=168263" description="About Your GSA RWA IPAC Statement" target="_blank"/>
    <link url="http://gsa.gov/portal/getMediaData?mediaId=168267" description="About Your GSA RWA Statement for non-IPAC Customers (Version 1.1)" target="_blank"/>
    <link url="Docs/FAQs/VCSS - CSV Download Instructions.pdf" description="CSV Download Instructions" target="_blank"/>
    <link url="Docs/Fleet Sales Codes.xlsx" description="Fleet Sales Codes" />
    <link url="http://gsa.gov/portal/getMediaData?mediaId=177403" description="GSA Global Supply and AutoChoice IPAC Data Field Changes Brochure (Version 2.1)" target="_blank" />
    <link url="Docs/VCSS Access Quick Start Guide.pdf" description="VCSS Access Quick Start Guide" target="_blank"/>
    <link url="Docs/Help/VCSS_Customer_Help.htm" description="VCSS Customer Help" target="_blank"/>
    <link url="FAQs.aspx" description="VCSS Frequently Asked Questions (FAQs)"/>
    <link url="Docs/VCSS User Guide.pdf" description="Vendor and Customer Self Service User Guide" target="_blank"/>
    <link url="Docs/Training/Non-Federal_VCSS_Training.pptx" description="VCSS Training for Non-Federal Users" target="_blank" />
  </links1>
  <links2>
    <link url="Docs/Training/VCSS Training - Section 1_Introduction.pptx" description="Segment 1: Introduction" />
    <link url="Docs/Training/VCSS Training - Section 2_Account Registration_Requesting Access.pptx" description="Segment 2: VCSS Account Registration and Requesting Access" />
    <link url="Docs/Training/VCSS Training - Section 3_Basic Navigation.pptx" description="Segment 3: Basic Navigation" />
    <link url="Docs/Training/VCSS Training - Section 4_Account Navigation.pptx" description="Segment 4: Account Navigation" />
    <link url="Docs/Training/VCSS Training - Section 5_Statement and Dispute Information.pptx" description="Segment 5: Statement and Dispute Navigation" />
    <link url="Docs/Training/VCSS Training - Section 6_Customer Payment Navigation.pptx" description="Segment 6: Customer Payment Navigation" />
    <link url="Docs/Training/VCSS Training - Section 7_Correspondence Navigation.pptx" description="Segment 7: Correspondence Navigation" />
    <link url="Docs/Training/VCSS Training - Section 8_External Applications Navigation.pptx" description="Segment 8: External Applications Navigation" />
  </links2>
  <links3>
    <link url="Docs/About VCSS Vendors.pdf" description="For GSA Vendors: About VCSS" target="_blank" />
  </links3>
</content>