<content>
  <Items>
    <Item title="Change Account Administrator" description="Use this option if you want to change Administrator of Vendor/Customer Account" />
    <Item title="Remove Account Code/BOAC from User Profile" description="Use this option if you want to be removed as the Administrator of Vendor/Customer Account" />
    <Item title="Separated User/Deactivate User Account" description="Use this option if you want to be removed as Administrator for all accounts in VCSS" />
    <Item title="Update User Profile" description="Use this option if you are Administrator of an Account and want to update Email or Phone Number" />
  </Items>
</content>