<Notice>
  <Header>VCSS will only display 999 search results on its web pages.</Header>
  <Description>
    <![CDATA[If you need to download your statement transactions to a CSV file and the statement contains more than 999 rows, you must use the Statement>View Details query. If you use the Statement>View Details search and there are more than 999 rows, you will see a warning message saying, "SE0126W The number of results returned by your query is equal to or greater than the configured maximum result limit of '999'. The system will display records up to that limit." This warning message applies only to the web page. It does not apply to the CSV download.]]>
  </Description>
</Notice>