<content>
  <sections header="Supported Browsers" subheader="VCSS is compatible with the following browsers:">
    <section desc=" Microsoft Internet Explorer (versions 8, 9, 10, and 11)" />
  </sections>
  <sections header="Required Software" subheader="VCSS requires the following software to utilize all of the software’s features:">
    <section desc="Adobe Acrobat Reader" />
    <section desc="Java 1.6.0+" />
  </sections>
</content>